@mixin bg-img($url, $size) {
  background-image: url("#{$url}.png");
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin bg-img-gif($url, $size) {
  background-image: url("#{$url}.gif");
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin border($color) {
  position: relative;
  &::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 0;
    border-top: 1px solid $color;
  }
}

@mixin border-none {
  position: relative;
  &:after {
    position: absolute;
    bottom: 0;
    display: none;
    content: "";
    width: 100%;
    height: 0;
    border-top: 0;
  }
}
